# Ignore Windows executables
*.exe

# Ignore object files (compiler intermediates)
*.o
*.obj

#Ignore input and test text files
input.txt
test.txt

# Ignore build folders (optional, common)
build/
bin/
out/
